@(posts: List[Post])

@main("Play Blog") {

    <div class="panel panel-default">
        <div class="panel-heading">
            Posts
        </div>
        <div class="panel-body">
            @for(p <- posts){
            @if(p.getId() % 2 != 0){
            <div class="alert alert-success">
                <h3>
                    @p.getPostTitle()
                </h3>
                <p>@p.getPostContent()</p>
				<p></p>
                <a href="@routes.Application.authorProfile(p.getAuthor().getId())" class="btn btn-warning btn-sm"><img src="@routes.Assets.at(p.getAuthor().getPictureLocation())"  class="img-rounded" alt="My Picture" width="40" height="40"> <span class="badge">@p.getAuthor().getAuthorName()</span></a><br>
                <time>@p.getPostingDate().format("MMM dd yyyy, HH:mm:ss")</time>
            </div>
            }else{
            <div class="alert alert-info">
                <h3>
                    @p.getPostTitle()
                </h3>
                <p>@p.getPostContent()</p>
				<p></p>
				<a href="@routes.Application.authorProfile(p.getAuthor().getId())" class="btn btn-warning btn-sm"><img src="@routes.Assets.at(p.getAuthor().getPictureLocation())"  class="img-rounded" alt="My Picture" width="40" height="40"> <span class="badge">@p.getAuthor().getAuthorName()</span></a><br>
                <time>@p.getPostingDate().format("MMM dd yyyy, HH:mm:ss")</time>
            </div>
            }
            }
        </div>
    </div>

}
