@(loginForm: Form[Application.Login])

@import helper._

@main("Play Blog"){

    <div class="panel panel-default">
        <div class="panel-heading">
            Login
        </div>
        <div class="panel-body">
            @if(flash.contains("success")) {
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@flash.get("success")</strong>
            </div>
            }
            @if(flash.contains("errors")) {
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@flash.get("errors")</strong>
            </div>
            }
            @form(action = routes.Application.authenticate()){
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email address:</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="email" name="email" value='@loginForm("email").value'/>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Password:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="pwd" name="password"/>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            }
        </div>
    </div>

}