@(author: Author)

@dashboardtemplate("Play Blog") {
<div class="panel panel-default">
    <div class="panel-heading">
        My Profile
    </div>
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>@author.getAuthorName()</h3>
            </div>
            <div class="panel-body">
                <img src="@routes.Assets.at(author.getPictureLocation())"  class="img-rounded" alt="My Picture" width="304" height="236">
            </div>
        </div>
    </div>
</div>

}
